<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Hamburguesa</string>
		<key>searchKey</key>
		<string>Ham</string>
		<key>imageName</key>
		<string>hamburguer.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>172</integer>
			<key>blue</key>
			<integer>47</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-05-19T19:18:23Z</date>
		<key>timesEaten</key>
		<integer>4</integer>
		<key>rating</key>
		<real>4.5</real>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Perrito</string>
		<key>searchKey</key>
		<string>HD</string>
		<key>imageName</key>
		<string>hotdog.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>236</integer>
			<key>green</key>
			<integer>120</integer>
			<key>blue</key>
			<integer>38</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-06-01T12:05:44Z</date>
		<key>timesEaten</key>
		<integer>7</integer>
		<key>rating</key>
		<real>2.5</real>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Chips</string>
		<key>searchKey</key>
		<string>Chips</string>
		<key>imageName</key>
		<string>chips.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>239</integer>
			<key>green</key>
			<integer>217</integer>
			<key>blue</key>
			<integer>50</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-04-01T21:15:44Z</date>
		<key>timesEaten</key>
		<integer>4</integer>
		<key>rating</key>
		<real>4.5</real>
		<key>isFavorite</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Salsas</string>
		<key>searchKey</key>
		<string>Ktc</string>
		<key>imageName</key>
		<string>sauce.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>250</integer>
			<key>green</key>
			<integer>15</integer>
			<key>blue</key>
			<integer>23</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-05-15T11:05:44Z</date>
		<key>timesEaten</key>
		<integer>5</integer>
		<key>rating</key>
		<integer>3</integer>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Patatas Deluxe</string>
		<key>searchKey</key>
		<string>Dlx</string>
		<key>imageName</key>
		<string>deluxe.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>239</integer>
			<key>green</key>
			<integer>166</integer>
			<key>blue</key>
			<integer>59</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-05-01T14:43:42Z</date>
		<key>timesEaten</key>
		<integer>3</integer>
		<key>rating</key>
		<real>2.5</real>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Batido</string>
		<key>searchKey</key>
		<string>Shk</string>
		<key>imageName</key>
		<string>milkshake.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>231</integer>
			<key>green</key>
			<integer>86</integer>
			<key>blue</key>
			<integer>136</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-02-05T03:32:14Z</date>
		<key>timesEaten</key>
		<integer>2</integer>
		<key>rating</key>
		<real>1.5</real>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Donut</string>
		<key>searchKey</key>
		<string>Dgh</string>
		<key>imageName</key>
		<string>doughnut.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>103</integer>
			<key>green</key>
			<integer>6</integer>
			<key>blue</key>
			<integer>8</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-05-25T18:15:52Z</date>
		<key>timesEaten</key>
		<integer>6</integer>
		<key>rating</key>
		<integer>3</integer>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Burrito</string>
		<key>searchKey</key>
		<string>Mxc</string>
		<key>imageName</key>
		<string>taco.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>29</integer>
			<key>green</key>
			<integer>191</integer>
			<key>blue</key>
			<integer>32</integer>
		</dict>
		<key>lastEaten</key>
		<date>2016-01-11T13:15:24Z</date>
		<key>timesEaten</key>
		<integer>7</integer>
		<key>rating</key>
		<integer>4</integer>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Pizza</string>
		<key>searchKey</key>
		<string>Piz</string>
		<key>imageName</key>
		<string>pizza.png</string>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>234</integer>
			<key>green</key>
			<integer>242</integer>
			<key>blue</key>
			<integer>154</integer>
		</dict>
		<key>lastEaten</key>
		<date>2015-12-01T12:08:12Z</date>
		<key>timesEaten</key>
		<integer>3</integer>
		<key>rating</key>
		<real>2.5</real>
		<key>isFavorite</key>
		<false/>
	</dict>
</array>
</plist>
